{% extends "voc2.j2" %}

{% block summary %}
<p>
Dit vocabularium verzamelt de termen die relevant zijn om onderwijsdiensten aan te bieden en gerelateerde credentials uit te geven. De applicatieprofielen <a href="https://data.vlaanderen.be/doc/applicatieprofiel/leerinschrijfcredential/">Leerinschrijfcredential</a> en <a href="https://data.vlaanderen.be/doc/applicatieprofiel/leerprestatiecredential/">Leerprestatiecredential</a> maken hergebruik van dit vocabularium. Dit vocabularium is dan weer gebaseerd op het <a href="https://github.com/european-commission-empl/European-Learning-Model">European Learning Model</a>. ELM is gebaseerd op het <a href="https://www.w3.org/TR/vc-data-model/">W3C Verifiable Credentials Data Model</a> wat betreft de uitwisseling en validatie van credentials.
</p>
{% endblock %}
