{% extends "voc2.j2" %}

{% block summary %}
<p>
  Dit vocabularium verzamelt de termen die gedefinieerd zijn rond leercredentials. De applicatieprofielen rond <a href="https://data.vlaanderen.be/doc/applicatieprofiel/leerinschrijfcredential/">Leerinschrijfcredentials</a> en <a href="https://data.vlaanderen.be/doc/applicatieprofiel/leerprestatiecredential/">Leerprestatiecredentials</a> zijn afgeleiden van dit vocabularium. Dit vocabularium is dan weer gebaseerd op het <a href="https://github.com/european-commission-empl/European-Learning-Model">European Learning Model</a>.
  Die laatste gebruikt dan weer het <a href="https://www.w3.org/TR/vc-data-model/">W3C Verifiable Credentials Data Model</a> als overkoepelende structuur.
</p>
<p>
  Deze specificatie beschrijft de concepten die nodig zijn om leer- en ervaringsbewijzen te modelleren,
  zoals deze beschikbaar zijn in de <a href="https://leerenervaringsbewijzendatabank.be/">LED</a>. 
</p>
{% endblock %}
