{% extends "ap2.j2" %}

{% block summary %}
<p>
Dit applicatieprofiel maakt hergebruik van het vocabularium <a href="https://data.vlaanderen.be/ns/leercredential">OSLO Leercredential</a>,
dat op zijn beurt gebaseerd is op het <a href="https://github.com/european-commission-empl/European-Learning-Model">European Learning Model</a>.
ELM is gebaseerd op het <a href="https://www.w3.org/TR/vc-data-model/">W3C Verifiable Credentials Data Model</a> wat betreft de uitwisseling en validatie van credentials.
</p>
<p>
Dit applicatieprofiel is gericht op de inwinning en uitwisseling van inschrijvingsdata in onderwijscontext. Hiervoor worden een aantal uitbreidingen op ELM voorzien (inschrijving, ...). Een expliciete Leerinschrijfcredential wordt in het leven geroepen om deze use cases te dekken.
</p>
{% endblock %}

